<md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Editar habilidad </h2>
    </div>
</md-toolbar>
	<md-content layout-gt-sm="row" layout-padding>
		<div class="layout-gt-xs-row" ng-init="getCategorias()">
			<md-input-container class="md-block flex-gt-xs" flex-gt-xs>
			<label>Nombre</label>
			<input type="text" name="name" ng-model="nameEdit">
			</md-input-container>
			<md-input-container class="md-block">
			<label>Descripción</label>
			<input type="text" name="description" ng-model="descriptionEdit">
			</md-input-container>
			<md-input-container>
	          <label>Categoria</label>
	          <md-select ng-model="categoryEdit">
	            <md-option ng-repeat="categoria in categorias" ng-value="categoria.name">
	              {{categoria.name}}
	            </md-option>
	          </md-select>
	        </md-input-container>
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		        <md-button class="md-primary" ng-click="editarHabilidad()">Guardar</md-button>
		        <md-button href="#habilidades">Cancelar</md-button>
		    </section>
		</div>
	</md-content>