<div layout="column" ng-controller="PuestosCtrl" id="popupContainer">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Puestos</h2>
        </div>
    </md-toolbar>
	<md-content layout-gt-sm="row" layout-padding>
		<div class="layout-gt-xs-row" ng-init="getCategorias()">
			<md-input-container class="md-block flex-gt-xs" flex-gt-xs>
			<label>Nombre</label>
			<input type="text" name="name" ng-model="name">
			</md-input-container>
			<md-input-container class="md-block">
			<label>Descripción</label>
			<input type="text" name="description" ng-model="description">
			</md-input-container>
			
			<md-input-container>
	          <label>Categoria</label>
	          <md-select ng-model="categoria">
	            <md-option ng-repeat="categoria in categorias" ng-value="categoria.name">
	              {{categoria.name}}
	            </md-option>
	          </md-select>
	        </md-input-container>
			<md-button ng-click="crearPuesto()">
			Agregar	
			</md-button>
		</div>
	</md-content>
		
	
	<div  ng-init="getPuestos()">
	<table class="md-api-table">
		<tr>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Categoria</th>
			<th></th>
		</tr>
		<tr ng-repeat="puesto in puestos">
			<td>
				{{puesto.name}} 
			</td>
			<td>
				{{puesto.description}}
			</td>
			<td>
				{{puesto.category}}
			</td>
			<td>
				<md-button class="md-raised md-primary" href="#puestos/categorias/{{puesto.category}}/{{puesto.name}}/edit?description={{puesto.description}}">
					Editar
				</md-button>
				<md-button class="md-raised md-warn" ng-click="borrarPuesto($index)">
					Borrar
				</md-button>
			</td>
		</tr>
	</table>
	</div>
</div>